@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Inter:wght@300;700&family=Josefin+Sans&family=Just+Another+Hand&family=Karla&family=Lobster+Two&family=Metal+Mania&family=Pacifico&family=Poppins&family=Roboto+Condensed:ital,wght@0,300;0,700;1,400&family=Rubik+Marker+Hatch&display=swap');
header{
  background-image:linear-gradient(to right, #673380,#A626D3) ;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
#logopic{
  height: 40px;
}
#mylogo{
  display: flex;
  align-items: center;
}
#mylogo>*{
  margin-right: 5px;
}
#logoname{
  font-family: 'Karla', sans-serif;
  color: #ffffff;
}
#myname{
  font-family: Inter;
  color: #ffffff;
  margin-right: 10px;
}
input{
  height: 35px;
  width: 300px;
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
  border: 1.5px #D5D4D8 solid;
  border-radius: 5px;
}
#inputs,#image,#button{
  display: flex;
  justify-content: center;
}
#button{
  width: 100%;
  margin-top: 20px;
}
button{
  width: 650px;
  height: 40px;
  margin-bottom: 40px;
  background-image: linear-gradient(to right, #673380, #A626D3);
  border: none;
  border-radius: 5px;
  font-family: Karla;
  color: white;
}
#meme{
  width: 650px;
  height: 441px;
  
}
#image{
  position: relative;
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
@media screen and (max-width:600px){
  input{
    height: 30px;
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;
  }
    button {
      width: 430px;
      height: 35px;
    }
  #meme {
    width: 430px;
    height: 221px;
    
  }
}
@media screen  and (max-width:500px){
  input{
    width: 180px;
  }
    #logopic {
      height: 30px;
    }
  
    #myname {
      font-size: 14px;
    }
  
    #logoname {
      font-size: 15px;
    }
    button {
      width: 390px;
      height: 35px;
    }
    #meme {
      width: 390px;
      height: 181px;
    }
  
}
@media screen and (max-width:400px) {
  input {
    width: 150px;
    height: 27px;

  }
  #logopic{
    height: 30px;
  }
  #myname{
    font-size: 14px;
  }
  #logoname{
    font-size: 15px;
  }
  button {
    width: 330px;
    height: 32px;
  }
  #meme {
    width: 330px;
    height: 121px;
  }

}
